<?xml version="1.0" encoding="utf-8"?>
<context>

  <upload>
    <ip>172.30.4.172</ip>
    <user>lte</user>
    <password>ltelte</password>
    <remotedir>/upload/</remotedir>
    <localdir>./upload</localdir>
    <localfile>111.zip</localfile>
    <thread_num>5</thread_num>
    <sleep>15</sleep>
    <test></test>
  </upload>

  <download>
    <ip>172.30.4.172</ip>
    <user>lte</user>
    <password>ltelte</password>
    <remotedir>/download/</remotedir>
    <localdir>./download/</localdir>
    <remotefile>222.zip</remotefile>
    <sleep>15</sleep>
    <thread_num>5</thread_num>
    <test></test>
  </download>

 </context> 